
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Styles/head.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/menu.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/users.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/container.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/crud.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/modal.css" />
    <title></title>
</head>

<body>
    <div>
        <div class="header">
            <a href="~/index.cshtml"><label>Users and Awards. Implementation in the web</label></a>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>