
.users {
    background-color: #a8d9fc;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    float: left;
    width: 20%;
    height: 35%;
    display: table-cell;
    vertical-align: middle;
}

    .users ul {
        margin: 10px;
    }

    .users li {
        list-style: none;
        margin: 10px;
    }